.body {
  left: 100px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-direction: row;
  font-size: 1em;
  color: black;
  width: 400px;

}

.info {
  margin-top: 10px;

}

.say {
  color: red;
  top: 60%;
  position: absolute;
  left: 80px;
}

.img {
  top: 30%;
  padding: 20px;
}

.name1 {
  position: absolute;
  margin-left: 100px;
  top: 60%;
}

.name2 {
  position: absolute;
  margin-left: 100px;
  top: 460%;
}

.icon1 {
  padding: 20px;
  margin-left: 100px;
  position: absolute;

  width: 30%;
}
