<div class="body">
  <br />
  <br /><br />
  <Strong class="say">Here is what our ProGrads have to say</Strong>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="info">
    <div class="icon1">
      <div class="name1">
        <strong><img src="../../assets/icon1.png" alt="icon" />PRAVESH,
          FSD0A0221</strong>
        <p class="para1">
          In my academics, I learnt only theoretical concepts of programming but
          ProGrad emphasized my coding knowledge by teaching me a different
          approach in solving all the coding problems. My mentor offered me
          excellent support by guiding us on each step to improve my progress.
        </p>
        <br /><br /><br /><br />
      </div>
      <div class="name2">
        <strong><img src="../../assets/icon1.png" alt="icon" />ROBIN HOODA,
          FSD0B0001</strong>
        <p class="para2">
          ProGrad not only helped me in utilizing my knowledge to the best of my
          capabilities but also nurtured my technical skills and competencies.
        </p> <br><br>
      </div>
    </div>
  </div>
</div>
