<div class="container">
  <header class="heading">Hear it from our ProGrads</header> <br>

  <div class="para">
    <p>Being a ProGrad is a life-time experienced. In the past,
      we have several times tried showing the world what is to be a
      ProGrad. But, we soon realised that no one can better
      describe this journey than our ProGrads themselves.
    </p>
  </div>

  <img src="../../assets/FacePrepLab3.png" class="image3" Alt="pic">
  <div class="strong">
    <strong>So here we are with a mission to let the world hear it from our ProGrads</strong> </div>

  <div class="strong1">
    <strong>#ProudProGrads #YourDreamOurMission</strong><br> <br><br><br>
    <br>
  </div>
</div>
